.head {
  justify-content: space-between;
  width: 100%;
  display: flex;
  border-bottom: 2px solid #eeeeee;
}
.mode-toggle {
  display: flex;
  align-items: center;
}
.mode-toggle img {
  width: 16px;
  margin-right: 10px;
}
