.head {
  width: 100%;
  border-bottom: 2px solid #eeeeee;
  display: flex;
}
.small-head {
  width: 95%;
  justify-content: space-between;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.mode-toggle {
  display: flex;
  align-items: center;
}
.sun-moon {
  width: 16px;
  margin-right: 10px;
}
.mode-toggle img:hover {
  cursor: pointer;
}
