.dark-mode {
  background-color: #2b3743;
  color: white;
}
.light-mode {
  background-color: white;
}

.rows {
  display: flex;
  justify-content: space-between;
}

.countries {
  border-radius: 5px;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 0;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.countries img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
}
.countries h4 {
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 25px;
}
.countries p {
  font-size: 0.7rem;
  margin-left: 25px;
}
.countries span {
  font-weight: 600;
}
